$global-p-color: #111111;
$global-h1-color: #ca9191;
$global-h2-color: #ca9191;
$global-h3-color: #ca9191;
$global-h4-color: #ca9191;
$global-bg-color: white;
$global-font-stack: 'Oswald', Futura, Helvetica, sans-serif;
$global-label-font-stack: 'Oswald', Futura, Helvetica, sans-serif;
$global-p-font-stack: 'Minion Pro', Didot, serif;
$global-box-width: 70vw;
$section-color: #faa187;
$start-button-color: #faa187;
$global-font-weight: 300;


@import './helpers/Animation_Mixins.scss';
@import './helpers/Transform_Mixins.scss';
@import './helpers/Display.scss';
@import './helpers/User_Events.scss';

@import './components/Section.scss';
@import './components/Subsection.scss';
@import './components/MenuBarIcon.scss';
@import './components/MenuBar.scss';
@import './components/MainContainer.scss';
@import './components/NavBar.scss';

@import './components/sections/Intro.scss';
@import './components/sections/Mission.scss';
@import './components/sections/Opportunity.scss';
@import './components/sections/Team.scss';
@import './components/sections/ValueProposition.scss';
@import './components/sections/Product.scss';
@import './components/sections/BusinessModel.scss';
@import './components/sections/Adoption.scss';
@import './components/sections/Investment.scss';
@import './components/sections/Competition.scss';
@import './components/Label.scss';

body {
  margin: 0;
  padding: 0;
  background: $global-bg-color;
  @include css-fadein(3s);
  width: 100%;
  overflow-x:hidden;

  .container {
      width: 100vw;
      left: 0;
  }

  .section-medium-image {
  position: relative;
  width: 75vw;
  left: 0;
  }

  .section-wide-image {
  position: relative;
  width: 100vw;
  left: 0;
  }

  .intro-image {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
  }

  h1 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 1em;
  }

  h2 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 1em;
  }

  h3 {
    font-family: $global-p-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 1em;
  }

  h4 {
    font-family: $global-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 2em;
  }

  p {
    font-family: $global-p-font-stack;
    color: $global-p-color;
    font-weight: 200;
  }

  .wrapper {
    overflow-x:hidden;

  }

  a {
      text-decoration: none;
  }

  .text-block-grid {
      display: flex;
      width: 75vw;
      justify-content: flex-end;
  }

  .text-block {
    width: 30vh;
    background: #4f4a54;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
  }
}
