$global-p-color: #111111;
$global-h1-color: #3d3d41;
$global-h2-color: #3d3d41;
$global-h3-color: #3d3d41;
$global-h4-color: #3d3d41;
$global-h5-color: #3d3d41;
$global-bg-color: white;
$h1-font-stack: 'Oswald', Futura, Helvetica, sans-serif;
$h2-font-stack: 'Oswald', Futura, Helvetica, sans-serif;
$h3-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;
$h4-font-stack: 'Open Sans', Futura, Helvetica, sans-serif;
$h5-font-stack: 'Oswald', Futura, Helvetica, sans-serif;
$global-label-font-stack: 'Monserrat', Futura, Helvetica, sans-serif;
$global-p-font-stack: 'Open Sans', Didot, serif;
$global-box-width: 70vw;
$section-color: #faa187;
$start-button-color: #faa187;
$global-font-weight: 300;


@import './helpers/Animation_Mixins.scss';
@import './helpers/Transform_Mixins.scss';
@import './helpers/Display.scss';
@import './helpers/User_Events.scss';

@import './components/Section.scss';
@import './components/Subsection.scss';
@import './components/MenuBarIcon.scss';
@import './components/MenuBar.scss';
@import './components/MainContainer.scss';
@import './components/NavBar.scss';

@import './components/sections/Intro.scss';
@import './components/sections/Mission.scss';
@import './components/sections/Opportunity.scss';
@import './components/sections/Team.scss';
@import './components/sections/ValueProposition.scss';
@import './components/sections/Product.scss';
@import './components/sections/BusinessModel.scss';
@import './components/sections/Adoption.scss';
@import './components/sections/Investment.scss';
@import './components/sections/Traction.scss';
@import './components/Label.scss';

body {
  margin: 0;
  padding: 0;
  background: $global-bg-color;
  @include css-fadein(3s);
  width: 100%;
  overflow-x:hidden;

  .container {
      width: 100vw;
      left: 0;
  }

  .section-medium-image {
  position: relative;
  width: 75vw;
  left: 0;
  }

  .section-wide-image {
  position: relative;
  width: 100vw;
  left: 0;
  }

  .intro-image {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
  }

  .header-text {
    padding-bottom: 40pt;
    width: 75vw;
  }

  .footer-text {
    padding: 40pt 0pt;
    width: 75vw;
    text-align: center;
  }

  .subtitle-text {
    padding: 40pt 0pt;
  }

  h1 {
    font-family: $h1-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 5.135em;
    margin: 0pt;

    @media all and (max-width: 800px) {
      font-size: 2.2em;
      }
  }

  h2 {
    font-family: $h1-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 3.852em;
    margin: 0pt;

    @media all and (max-width: 800px) {
      font-size: 2.1em;
      }
    }

  h3 {
    font-family: $global-p-font-stack;
    color: $global-h1-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 2.0em;
    margin: 0pt;
  }

  h4 {
    font-family: $h4-font-stack;
    color: $global-h4-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 1.4em;
    margin: 0pt;
  }

  h5 {
    font-family: $h5-font-stack;
    color: $global-h5-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 1.1em;
    margin: 0pt;
    @include css-user-select(none);
    cursor: pointer;
    padding: 1em;
    padding-top: 2.25em;
    font-weight: 300;
    color: $text-color;
    text-align: center;
    @include css-transition(all, 0.5s, ease-in-out);
    white-space: nowrap;
  }

  h6 {
    font-family: $h5-font-stack;
    color: $global-h5-color;
    text-align: center;
    font-weight: $global-font-weight;
    font-size: 1.4em;
    margin: 0pt;
    @include css-user-select(none);
    cursor: pointer;
    font-weight: 300;
    color: $text-color;
    text-align: center;
  }

  p, li {
    font-family: Arial;
    color: $global-p-color;
    font-weight: 200;
    font-size: 1.1em;

    @media all and (max-width: 800px) {
      font-size: 1em;
      }


    margin: 0pt;
  }

  img {
  width: 100%;
  }


  .wrapper {
    overflow-x:hidden;

  }

  a {
      text-decoration: none;
  }
}
