$p-color: #111111;
$h1-color: #ca9191;
$bg-color: #f1f1f1;
$font-stack: 'Montserrat', Futura, Helvetica, sans-serif;
$p-font-stack: 'Montserrat', Futura, Helvetica, sans-serif;

@import './helpers/Animation_Mixins.scss';
@import './helpers/Transform_Mixins.scss';
@import './helpers/Display.scss';
@import './helpers/User_Events.scss';

@import './components/Section.scss';
@import './components/Subsection.scss';
@import './components/Navigation.scss';
@import './components/MenuBarIcon.scss';
@import './components/MenuBar.scss';
@import './components/MainContainer.scss';
@import './components/NavBar.scss';

@import './components/sections/Warriorfy.scss';
@import './components/sections/MissionStatement.scss';
@import './components/sections/Opportunity.scss';
@import './components/sections/Team.scss';
@import './components/sections/MarketValidation.scss';
@import './components/sections/Product.scss';
@import './components/sections/BusinessModel.scss';
@import './components/sections/CustomerAdoption.scss';
@import './components/sections/Investment.scss';



body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  @include css-fadein(3s);
  width: 100%;
  overflow-x:hidden;



  h1 {
    font-family: $font-stack;
    color: $h1-color;
    text-align: center;
    font-weight: 200;
  }

  p {
    font-family: $p-font-stack;
    color: $p-color;
    font-weight: 200;
  }

  .wrapper {
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
  }

  @media all and (max-width: 1200px) {

  }
}
