$section-color: #f1f1f1;
$start-button-color: #f1c478;
$adoption-bg-color: white;

#Adoption {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    width: 75vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media all and(max-width: $mobile-width) {
      width: 100vw;

    }
  }

  .body-subtitle {
    padding: 0pt;
  }

  .adoption {
    width: 75vw;
    height: 50vh;
    background: $adoption-bg-color;
    display: flex;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }

    .launch {
      width: 66.666%;
      height: 100%;
      background: white;
    }

    .example {
      width: 33.333%;
      height: 100%;
      background: white;
    }
  }

}
