$section-color: #f1f1f1;

#Competition {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    width: 100vw;
  }

  .competition {
    width: 75vw;
    height: 50vh;
    background: $model-color;
    display: flex;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }
  }

}
