$section-color: #f1f1f1;
$start-button-color: #faa187;
$investment-color: white;

#Investment {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .investment {
    width: 75vw;
    height: 50vh;
    background: $investment-color;
    display: flex;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }



    .milestones {
      width: 40%;
      height: 100%;
      background: #705959;
    }

    p {
      color: white;
    }

    .money {
      width: 60%;
      height: 100%;
      background: #574f4f;
    }
  }


  .overall {
    width: 100%;
    background: transparent;
    justify-content: center;
    margin-bottom: 10vh;

    .problem {
      width: $sub-section-width;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid $border-color;
    }

    .solution {
      width: $sub-section-width;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid $border-color;
    }

    h4 {
    text-align: center;
    }


  }
}
