$section-color: #f1f1f1;
$start-button-color: #faa187;
$investment-color: white;

#Investment {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .text-block-container {
    width: 66.66%;
    @media all and (max-width: 800px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

    h3 {
      text-align: left;
    }
  }

  .text-blocks {
    display: flex;
    @media all and (max-width: 800px) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      }
    width: 95%;
    justify-content: space-between;
  }

  .text-block-grid {
      display: flex;
      width: 75vw;
      @media all and (max-width: 800px) {
          width: 75vw;
          flex-direction: column;
        }
      justify-content: flex-end;
  }

  .text-block-row {
    width: 20vw;
    @media all and (max-width: 800px) {
        width: 100%;
      }
  }

  .text-block-milestone {
    width: 50%;
    @media all and (max-width: 800px) {
        width: 100%;
      }

    p {
          padding-bottom: 12pt;
        }

    h3 {
      text-align: left;
    }
  }

  .text-block {
    background: transparent;
    border: 2px solid #3d3d41;
    text-align: left;
    margin-top: 10px;
    flex-direction: column;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    justify-content: space-around;

        h6 {
          text-align: left;
          padding-bottom: 12pt;
          font-weight: 400;
        }
}

.milestone {
  font-weight: 900;
  padding: 0;
}

.role {


  .role-title {
    color: #aa7373;
    font-size: 1em;
    font-style: italic;

  }
}


.header-text-milestone {
  padding-bottom: 22pt;
}

.header-text-money {
  padding-bottom: 12pt;
}


  .investment {
    width: 75vw;
    height: 50vh;
    background: $investment-color;
    display: flex;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }



    .milestones {
      width: 40%;
      height: 100%;
      background: #705959;
    }

    p {
      color: white;
    }

    .money {
      width: 60%;
      height: 100%;
      background: #574f4f;
    }
  }


  .overall {
    width: 100%;
    background: transparent;
    justify-content: center;
    margin-bottom: 10vh;

    .problem {
      width: $sub-section-width;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid $border-color;
    }

    .solution {
      width: $sub-section-width;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid $border-color;
    }

    h4 {
    text-align: center;
    }


  }
}
