$section-color: #f1f1f1;
$start-button-color: #faa187;

#Mission {
  h1 {
    width: 50vw;
  }

  .container {
    display: flex;
  }

  .mission {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mission-background {
    width: 100%;
  }
}
