$section-color: #f1f1f1;
$start-button-color: #faa187;
$header-color: #dedcdc;

.Opportunity {
  .Header {
    padding: 10vw;
    background: $header-color;
    width: 40vw;
    margin-bottom: 5vw;
  }

  .OpportunityStatement {
    padding: 10vw;
    background: $header-color;
    margin-bottom: 5vw;
  }
}
