$section-color: #f1f1f1;
$start-button-color: #faa187;
$header-color: #dedcdc;
$box-color: transparent;
$h1-color: #705959;
$sub-section-width: 37.5%;
$border-color: #3d3d41;
$border-width: 2px;

#Opportunity {

  .container {
    width: 75vw;

    @media all and (max-width: $skinny-mobile-width) {
      width: 88vw;
      }
  }


  .arrow-block {
    width: 50%;
    @media all and (max-width: $skinny-mobile-width) {
      width: 20%;
      }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20pt;

    h1 {
      text-align: center;
      color: $h1-color;
      width: 75vw;
    }
  }

  .block-row-container {
    margin-top: 50pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .block-row {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
  }

  .block {

    width: 25%;

    @media all and (max-width: $skinny-mobile-width) {
      width: 50%;
      }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    img {
      width: 100%;
      transform: scale(0.25);

      @media all and (max-width: $skinny-mobile-width) {
        transform: scale(0.5);
        }
    }

    p {
      padding-bottom: 5pt;
      @media all and (max-width: $skinny-mobile-width) {
        padding-bottom: 10pt;
        }
    }
  }

  .arrows {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
    padding-bottom: 10vh;
  }

  .top-labels {
    display: inline-flex;
    justify-content: space-around;
    @media all and (max-width: $skinny-mobile-width) {
        justify-content: space-between;
      }

  }

  .arrows-label {
    color: transparent;
  }

  .arrow {
    transform: scale(0.2) rotate3d(1, 0, 0, 0);
    @include css-transition(all, 0.5s, ease);
    z-index: 9999;
  }

  .arrow:hover {
    transform: scale(0.4) rotate3d(1, 0, 0, 45deg);
  }

  .overall {
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;


    .problem {
      width: $sub-section-width;

      @media all and (max-width: $skinny-mobile-width) {
          width: 50%;
        }
      background: transparent;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      border: 1.5px solid $border-color;
      padding: 22pt;
    }

    .problem-label {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h4{
      padding-bottom: 10pt;

      }
    }


    .solution-label {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    h4{
      padding-bottom: 10pt;
    }
    }

    .solution {
      width: $sub-section-width;
      @media all and (max-width: $skinny-mobile-width) {
          width: 50%;
        }
      background: #3d3d41;
      font-color: white;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      border: 1.5px solid $border-color;
      padding: 22pt;
    }

    h4 {
    text-align: center;
    }


  }

  p {
    font-family: arial;
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  .problems {
    width: $sub-section-width;
  }

  .solutions {
    width: $sub-section-width;
  }

  .problem-block {
    padding-bottom: 10pt;
  }

  .solution-block {
    padding-bottom: 10pt;
  }


  .solutions-label {
    border-radius: 4px;
    width: 25%;
    @media all and (max-width: $skinny-mobile-width) {
      width: 33.33%;
      }

    h6 {
      text-align: center;
      text-align: center;
      background: white;
      padding-top: 10px;
      width: 100%;
      padding-bottom: 10px;
      border-radius: 4px;
    }
  }

  .problems-label {
    border-radius: 4px;
    width: 25%;
    @media all and (max-width: $skinny-mobile-width) {
      width: 33.33%;

      h6 {
      display: flex;
      justify-content: center;
      align-items: center;
      }

    }

    h4 {
      text-align: center;
      text-align: center;
      background: white;
      padding-top: 10px;
      width: 100%;
      padding-bottom: 10px;
      border-radius: 4px;
    }


  }

  .problems-label-subtitle {
    padding-bottom: 20pt;
  }

  .solutions-label-subtitle {
    padding-bottom: 20pt;
  }

  .solution-label {



    h4 {
      color: white;
    }

    p {
      color: white;
    }

  }

}
