$section-color: #f1f1f1;

@import '../TextBlock.scss';

#Traction {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 90%;
    padding-bottom: 40pt;

    @media all and(max-width: $skinny-mobile-width) {
      align-items: center;
      flex-direction: column;
    }
  }

  .text-block-container {
    z-index: 9999;
    width: 40%;
    @media all and(max-width: $skinny-mobile-width) {
      width: 100%;
    }
  }

  .featured-images {
    z-index: 9999;
    width: 70%;
    padding-top: 10pt;

    @media all and(max-width: $skinny-mobile-width) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .featured-in {
      width: 15%;
      padding: 0pt;
      @media all and(max-width: $skinny-mobile-width) {
        width: 50%;
      }
    }
  }

  .header {
    width: 100%;
    z-index: 9999;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    @media all and(max-width: $skinny-mobile-width) {
      padding-bottom: 0px;
    }
    h2 {
      font-size: 2.8em;
    }
    h6 {
      font-size: 2.2em;
    }
  }
  .product-image {
    width: 70%;

    @media all and(max-width: $mobile-width) {
      width: 100%;
      padding: 0px 0px;
    }
  }

  .text-block {
    align-items: flex-start;
    h6 {
      padding-bottom: 0pt;
    }

  }

  .traction {
    width: 75vw;
    height: 50vh;
    background: $model-color;
    display: flex;

    @media all and(max-width: $mobile-width) {
      width: 100vw;
    }
  }


}
