$section-color: #faa187;
$start-button-color: #faa187;
$bg-color: #ac9e9e;
$fg-color: #f1f1f1;
$text-color: #7c7878;

.Warriorfy {
  .Start {
    width: 350px;
    height: 50px;
    background-color: $section-color;
    max-width: 50%;
    border-radius: 8px;
  }

  p {
    color: $text-color;
    font-weight: 300;
    @media all and(max-width: 450px) {
    font-size: 0.75em;
    }
  }

  h1 {
    color: $text-color;

    @media all and(max-width: 450px) {
    font-size: 0.75em;
    }
  }

  .StartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
    z-index: 99;
  }

  .background_image {
      width: $global-box-width;
      height: 33.33vh;
      background-color: $bg-color;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;

      @media all and (max-width: 800px) {
        width: 100vw;
        left: 0vw;
      }
  }

  .foreground_image {
      width: 33.33vw;
      height: 33.33vh;
      top: 10vw;
      background-color: $fg-color;


      @media all and (max-width: 800px) {

        max-width: 50vw;
      }
  }
}
