$label-vertical-padding: 5vh;

.border-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 9;
  padding-top: 15vh;
  background: $global-bg-color;
  padding-bottom: 15vh;
}

.border {
  position: relative;
  width: 50vw;
  height: 2px;
  background: #3d3d41;
}

.label {
  font-family: "Oswald", Futura, Helvetica, sans-serif;
    position: absolute;
    color: #3d3d41;
    cursor: default;
    margin-top: 0vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 9999;

    padding: 10px 20px;
    border-radius: 2px;

}

.label-text {
  color: #3d3d41;
  font-family: "Oswald";
  font-weight: 200;
  font-size: 22pt;
  margin-left: -35px;
  margin-top: -34.5vh;
  padding: 5px 15px;
  text-align: center;
  background: white;
  border-left: 2px solid #3d3d41;
  border-right: 2px solid #3d3d41;
  border-top: 2px solid #3d3d41;
  border-bottom: 2px solid #3d3d41;
  z-index: 999999;
}
