$menu-bar-icon-color: #bca293;
$menu-bar-icon-color-hover: #bca293;
$transition-time: 0.25s;
$icon-time: 0.7s;
$hover-time: 0.5s;
$transition-prop: all;
$transition-easing: cubic-bezier(.94,.06,.32,.95);
$right-transition: 28vw;
$mobile-right-transition: 60vw;

@import '../helpers/Transform_Mixins.scss';


.menu-bar-icon {
  @include css-transition($transition-prop, $transition-time, $transition-easing);
  border: none;
  color: $menu-bar-icon-color;
  background: transparent;
  outline: none;
  @include css-user-select(none);
  position: fixed;
  margin: 20px 20px;
  cursor: pointer;
  top: 0;
  z-index: -10;
  display: block;
  background: $global-bg-color;
  width: 100%;
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);

  @media all and (max-width: 1200px) {
    z-index: 99999;
  }
}

.clicked {
  transform: translate3D($right-transition, 0, 0);


  @media all and (max-width: $skinny-mobile-width) {
    transform: translate3D($mobile-right-transition, 0, 0);
  }

}

.unclicked {
  transform: translate3D(0vw, 0, 0);
}

.menu-bar-icon:hover > div {
  @include css-transition($transition-prop, $hover-time, $transition-easing);
  background: $menu-bar-icon-color-hover;
}

.menu-bar-icon div {
  @include css-transition($transition-prop, $hover-time, $transition-easing);
  width: 30px;
  height: 5px;
  background: $menu-bar-icon-color;
  margin-top: 5px;
}

.menu-bar-icon:hover > #topBar {
  @include css-transition($transition-prop, $hover-time, $transition-easing);
  /*@include css-transition(all, $transition-time, ease-in-out);*/
  /*@include css-transform-rotate-and-translate-down(45deg, 10px);*/
}

.menu-bar-icon:hover > #bottomBar {
  @include css-transition($transition-prop, $hover-time, $transition-easing);
}

.menu-bar-icon:hover > #middleBar {
  @include css-transition($transition-prop, $hover-time, $transition-easing);
  /*@include css-transform-translate-x(-50px);*/
}

.clicked > #topBar {
  @include css-transition($transition-prop, $icon-time, $transition-easing);
  @include css-transform-rotate-and-translate-down-and-right(45deg, 10px, 0);
  @media all and (max-width: $skinny-mobile-width) {
    @include css-transform-rotate-and-translate-down-and-right(45deg, 10px, 0);
  }
}

.clicked > #bottomBar {
  @include css-transition($transition-prop, $icon-time, $transition-easing);
  @include css-transform-rotate-and-translate-up-and-right(-45deg, -10px, 0);
  @media all and (max-width: $skinny-mobile-width) {
    @include css-transform-rotate-and-translate-up-and-right(-45deg, -10px, 0);
  }
}

.clicked > #middleBar {
  @include css-transition($transition-prop, $icon-time, $transition-easing);
  @include css-transform-squash(0);
  @include css-transform-translate-x(0);
  @media all and (max-width: $skinny-mobile-width) {
    @include css-transform-translate-x(0);
  }
  opacity: 0;
}

.unclicked > #topBar {
  @include css-transition($transition-prop, $icon-time, $transition-easing);
  @include css-transform-rotate-and-translate-down-and-right(0deg, 0px, 0vw);
}

.unclicked > #bottomBar {
  @include css-transition($transition-prop, $icon-time, $transition-easing);
  @include css-transform-rotate-and-translate-up-and-right(0deg, 0px, 0vw);
}

.unclicked > #middleBar {
  @include css-transition($transition-prop, $icon-time, $transition-easing);
  @include css-transform-squash(0);
  @include css-transform-translate-x(0vw);
  opacity: 1;
}
