$transition-time: 0.2s;
$transition-prop: transform;
$transition-easing: ease-in-out;
$bg-color: #3d3d41;
$menu-button-color: #ffffff;

.menu-bar {
    @include css-transition(all, $transition-time, $transition-easing);
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    background: $bg-color;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    height: 100vh;
    flex-direction: column;

    h2 {
        z-index: 999999;
        color: #e09090;
        font-weight: 900px;
        padding: 5vh;
        margin-bottom: 5vh;
        @include css-user-select(none);
        cursor: pointer;
        white-space: nowrap;
        font-size: 16pt;
    }


    .smooth-scroll {
      width: 100vw;
      background: transparent;
      z-index: 9999;
      flex: 1;

      @media all and (max-width: 1200px) {
        z-index: -1;

      }
    }
}

.menu-bar-hidden {
  @include css-transform-translate-y(50px);
}

.menu-bar-shown {
  @include css-transform-translate-y(0px);
}




.menuButton {
  @include css-transition(all, 0.5s, ease-in-out);
  border: none;
    margin: 20px 20px;
    width: 60px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    outline: none;
    background: transparent;
    border: 2px solid $menu-button-color;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media all and (max-width: 1200px) {

    }

  h2 {
    color: $menu-button-color;
    padding: 0px;
    font-weight: 200;
    margin: 0;
    padding-left: 50px;
    text-align: center;
    white-space: nowrap;

    @media all and (max-width: 1200px) {
    }

  }


}

.menuButton:hover {
  @include css-transition(all, 0.5s, ease-in-out);
  border: 2px solid $menu-button-color;
  border-radius: 10%;
  background: $menu-button-color;
  cursor: pointer;

  > h2 {
    @include css-transition(all, 0.5s, ease-in-out);
  }
}
