@import '../helpers/Transform_Mixins.scss';

$nav-button-color: #e09090;

.navButton {
  @include css-transition(all, 0.5s, ease-in-out);
  border: none;
  margin: 5em;
  width: 12em;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  margin-top: em;
  display: flex;
  justify-content: center;
  outline: none;
  background: transparent;
  border: 2px solid $nav-button-color;

  p {
  color: #9a9aa2;
  padding: 1em;
  font-weight: 200;
  }
}

.navButton:hover {
  @include css-transition(all, 0.5s, ease-in-out);
  border: 2px solid $nav-button-color;
  background: $nav-button-color;
  cursor: pointer;
}

.navButton:hover > p {
  @include css-transition(all, 0.5s, ease-in-out);
}




.smooth-scroll {
display: flex;
justify-content: center;
align-items: center;
}
