$height: 18vh;
$text-color: #ac6e6e;
$hover-color: #9d9dcd;
$nav-button-color: #e09090;
$nav-button-size: 35px;
$padding-top: 3em;
$p-font-size: 12px;

.nav-bar-container {
    top: 0;
    height: $height;
    display: flex;
    justify-content: center;
    z-index: 9999;
    background: #f1f1f1;
    position: fixed;
    width: 100vw;

    .selected {
      background: $nav-button-color !important;
    }

    .nav-warriorfy {
      background-image: url("../components/img/00-Logo.png") !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }

    .nav-angel-list {
    background-image: url("../components/img/angel_list.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    }

    .nav-bar-connector {
    width: 90vw;
    margin-top: 0px;
    height: 2px;
    position: absolute;
    background: #9c9ca1;
    }

    .nav-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }

    @media all and (max-width: 1200px) {
      display: none;
    }

p {
    @include css-user-select(none);
    cursor: pointer;
    padding: 1em;
    font-weight: 300;
    color: $text-color;
    text-align: center;
    @include css-transition(all, 0.5s, ease-in-out);
    white-space: nowrap;
    font-size: $p-font-size;
    padding-top: $padding-top;
  }

  p:hover {
    color: $hover-color;
  }


  .smooth-scroll {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 9999;

    @media all and (max-width: 1200px) {
      z-index: -1;
    }
  }



  .nav-button {
    @include css-transition(all, 0.5s, ease-in-out);
    border: none;
      margin: 20px 20px;
      width: 12em;
      border-radius: 100%;
      width: $nav-button-size;
      height: $nav-button-size;
      display: flex;
      justify-content: center;
      outline: none;
      background: $global-bg-color;
      border: 2px solid $nav-button-color;

      @media all and (max-width: 1200px) {
        margin: 20px 20px;
      }
  }

  .nav-button:hover {
    @include css-transition(all, 0.5s, ease-in-out);
    border: 2px solid $nav-button-color;
    border-radius: 10%;
    background: $nav-button-color;
    cursor: pointer;

    > p {
      @include css-transition(all, 0.5s, ease-in-out);
    }
  }

}

.nav-bar-hidden {
  @media all and (max-width: 1200px) {
  }
}
