$p-section-color: #7e6060;
$border-color: #ac9e9e;
$label-color: #aa8686;
$h1-section-color: #5b4d4d;

.Section {
  background-color: $global-bg-color;
  margin: 0;
  width: 100%;

  h1 {
    text-align: center;
    z-index: 999;
    color: $h1-section-color;
  }

  .container-wrapper {
    width: 100vw;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .smooth-scroll {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: $global-font-stack;
    font-weight: 300;
    width: 100%;
    text-align: center;
    @include css-user-select(none);
    z-index: 999;
    color: $p-section-color;
  }
}
