$section-color: #f1f1f1;
$p-section-color: #111111;
$border-color: #ac9e9e;
$label-color: #aa8686;

.Section {
  background-color: $section-color;
  margin: 0;
  width: 100%;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    z-index: 999;
    color: white;
  }

  .smooth-scroll {
  width: 100vw;
    position: absolute;
    left: 0;
    top: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-family: $global-font-stack;
    font-weight: 300;
    width: 100%;
    text-align: center;
    @include css-user-select(none);
    z-index: 999;
    color: white;
  }
}
